.container {
  width: 80%;
	text-align: justify;
}

body {
  background: #eee;
}

#header {
  padding-top: 20px;
}

#header img {
  padding: 1em;
  background: #fff;
}

#content {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

/* Links */

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #eee;
  text-decoration: underline;
}

a:visited {
  color: #669;
}


/* Navigation */

.navigation {
  float: right;
}

.navigation {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

ul.navigation {
  margin: 0;
}

.navigation li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

.navigation li a {
  padding: 0 5px;
  font-weight: bold;
}

.navigation li a:visited {
  color: #666;
}

.navigation li a:hover {
  text-decoration: underline;
}


/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #666;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}


/* cantos arredondados */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
}

/*rodape*/
#rodape {
	text-align: center;
	margin-top: 10px;
}

#rodape .navigation{
	float: none;
}


/*página que exibe o usuario*/

div.profile{
	width: 100%;
	margin-bottom: 0;
}

div.main{
	width: 70%;
	padding: 1em;
}

span.sidebar{
	width: 30%;
	padding: 10px;
	margin: 10px;
	vertical-align: top;
	background: #ccc;
	color: #fff;
}

td.sidebar a{
	color: #ddd;
}

.profile img.gravatar{
	border: 1px solid #000;
	margin-bottom: -15px;
}


/*formulario*/
div.campoTexto, div.actions {
	margin-bottom: 10px;
}

/*erros do formulario*/
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

.fieldWithErrors label {
  color: #fff;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


/*lista de usuairos*/
ul.usuarios {
	margin-top: 1em;
}

.usuarios li{
	list-style: none;
}



/* estilo dos microposts*/

h2.micropost {
  margin-bottom: 0;
}

span.microposts tr {
  height: 70px;
}

div.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
}

table.microposts tr td.micropost span.tempo {
  display: block;
  font-size: 85%;
  color: #666;
}

div.usuario_info img {
  padding-right: 0.1em;
}

div.usuario_info a {
  text-decoration: none;
}

div.usuario_info span.user_name {
  position: absolute;
}

div.usuario_info span.microposts {
  font-size: 80%;
}

form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}
