<h1>Contato</h1>
<p>
 Esta é a página Contato do Projeto de
 <a href="http://www.matriculaweb.unb.br/matriculaweb/graduacao/disciplina.aspx?cod=116793" title="Intrudu&ccedil;&atilde;o &agrave; Microinform&aacute;tica">IMI</a>
 Introdu&ccedil;&atilde;o &agrave; Microinform&aacute;tica.
</p>

<form>
	<input type="textfield">
	<br>
	<input type="textfield">
	<br>
	<!-- TODO -->
	<textarea> N&atilde;o funciona.</textarea>
	<br>
	<input type="submit">
	<input type="reset">
</form>	