<h1>Contato</h1>
<p id="errorExplanation">
 N&atilde;o funciona. Em desenvolvimento.
</p>

<form>
	<input type="textfield">
	<br>
	<input type="textfield">
	<br>
	<!-- TODO -->
	<textarea> N&atilde;o funciona.</textarea>
	<br>
	<input type="submit">
	<input type="reset">
</form>	