<% if usuario_logado? %>
	<table class="frente">
		<tr>
			<td class="main">
				<h2 class="micropost">Documentos Recentes</h2>
				<%= render 'pages/feed'%>

			</td>
			<td class="sidebar round">
				<%= render 'pages/usuario_info' %>
			</td>
		</tr>
	</table>
<% else %>
<h1>P&aacute;gina Principal</h1>
<p>
 Esta &eacute; a p&aacute;gina principal do  
 <a href="http://www.unidadewiki.com/page/unb-imi">Projeto Colaborativo</a>
</p>

<%= link_to "Cadastre-se agora!", cadastro_url, :class => "signup_button round" %>

 <% end %>