<div id="rodape">
  <ul class="navigation round">
    <li><%= link_to "Sobre", 'sobre' %></li>
    <li><%= link_to "Contato", 'contato' %></li>
    <li><a href="http://www.matriculaweb.unb.br/matriculaweb/graduacao/disciplina.aspx?cod=116793" title="Introdu&ccedil;&atilde;o &agrave; Microinform&aacute;tica">IMI</a></li>
    <li><a href="http://www.unb.br/">Universidade de Bras&iacute;lia</a></li>
  </ul>
</div>
